[Unit]
Description=Cashflow Application
After=syslog.target network.target

[Service]
Type=simple
User=lordjaxom
Group=lordjaxom
SuccessExitStatus=143
WorkingDirectory=/opt/cashflow
ExecStart=/opt/cashflow/bin/cashflow
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target